
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Finger Paint";
}




#root {
  width: 100%;
  height: 100%;
}

#number-funky-pass {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 6.5vh;
  color: white;
  font-family: "Finger Paint";
  user-select: none;
  opacity: 0;
  pointer-events: none;
}

#loading {
  transition: 2s;
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
}


#canvasNumber {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  display: block;
  opacity: 0; 
  letter-spacing: 0.5px;
  background: transparent;
  font-family: "Finger Paint";
}



